
<div class="container">
    <h4 matLine><mat-icon matListIcon>account_circle</mat-icon> <p matLine> {{usuario}} </p></h4>
    <h2 matLine>Roles</h2>
    <mat-divider></mat-divider>
    <p matLine>
        <mat-list>
            <mat-list-item *ngFor="let rol of roles">
               <mat-icon matListIcon>done</mat-icon>
               <p matLine> {{rol}} </p>
            </mat-list-item>
         </mat-list>
    </p>
</div>
