<form class="container" [formGroup]="form" #signosForm="ngForm" (ngSubmit)="grabar()">

    <mat-form-field>
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
        [formControl]="myControlPaciente" formControlName="paciente">

        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente" >
            <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
                {{ p.nombres }} {{p.apellidos}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [max]="maxFecha" formControlName="fecha"
            [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Temperatura" [(ngModel)]="signos.temperatura" formControlName="temperatura">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Pulso" [(ngModel)]="signos.pulso" formControlName="pulso">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Ritmo Respiratorio" [(ngModel)]="signos.ritmoRespiratorio" formControlName="ritmo">
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="signosForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent"  type="button" (click)="cancelar()">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
